:host {
  cursor: pointer;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  max-width: 210px;
  max-height: 400px;
  margin: 0 auto;

  *:empty::after
     {
      content: '-';
  }
}

.info-container {
  padding: 30px 20px;

  *:not(:first-child):not(:last-child) {
      margin-bottom: 6px;
  }

  .card-name {
    font-size: 18px;
    font-weight: 700;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }

  .bold-text {
    font-weight: 500;
  }
}

.img-responsive {
  object-fit: cover;
  height: 150px;
  border-radius: 5px 5px 0 0;
}


