:host {
  flex: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  //justify-content: space-between;
  //height: 100px;
  padding: 0 20px;
  margin: 10px 0;
  flex-wrap: wrap;

  @media(min-width: 820px) {
    flex-wrap: nowrap;

  }
}
