:host {
  display: flex;
  padding: 10px 20px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  position: relative;
}

.search-input {
  outline: none;
  border: none;
  flex: 1;
  background: none;
  color: var(--text-color);
  padding-left: 30px;
  //cursor: pointer;
}

.search-icon {
  margin-right: 20px;
  color: var(--text-color);
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}


